<div id="app-container">
  <dx-tree-list
    id="tree-list"
    [dataSource]="employees"
    [rootValue]="-1"
    keyExpr="ID"
    parentIdExpr="HeadID"
    [autoExpandAll]="expanded"
    [(expandedRowKeys)]="expandedRowKeys"
    [allowColumnReordering]="true"
    [allowColumnResizing]="true"
    [columnAutoWidth]="true"
    (onSelectionChanged)="selectEmployee($event)"
    height="800"
  >
    <dxi-tree-list-column dataField="FullName" [fixed]="true">
      <dxi-tree-list-validation-rule type="required"></dxi-tree-list-validation-rule>
    </dxi-tree-list-column>
    <dxi-tree-list-column dataField="Position">
      <dxi-tree-list-validation-rule type="required"></dxi-tree-list-validation-rule>
    </dxi-tree-list-column>
    <dxi-tree-list-column dataField="BirthDate" dataType="date" [width]="100">
      <dxi-tree-list-validation-rule type="required"></dxi-tree-list-validation-rule>
    </dxi-tree-list-column>
    <dxi-tree-list-column dataField="HireDate" dataType="date" [width]="100">
      <dxi-tree-list-validation-rule type="required"></dxi-tree-list-validation-rule>
    </dxi-tree-list-column>
    <dxi-tree-list-column dataField="City"></dxi-tree-list-column>
    <dxi-tree-list-column dataField="State">
      <dxi-tree-list-validation-rule type="required"></dxi-tree-list-validation-rule>
    </dxi-tree-list-column>
    <dxi-tree-list-column dataField="Email" [visible]="false"></dxi-tree-list-column>
    <dxi-tree-list-column dataField="MobilePhone"></dxi-tree-list-column>
    <dxi-tree-list-column dataField="Skype"></dxi-tree-list-column>

    <dxo-tree-list-column-fixing [enabled]="true"></dxo-tree-list-column-fixing>
    <dxo-tree-list-column-chooser [enabled]="true"></dxo-tree-list-column-chooser>
    <dxo-tree-list-filter-row [visible]="true"></dxo-tree-list-filter-row>
    <dxo-tree-list-search-panel [visible]="true"></dxo-tree-list-search-panel>
    <dxo-tree-list-selection mode="single"></dxo-tree-list-selection>
    <dxo-tree-list-editing
      mode="popup"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true"
    >
    </dxo-tree-list-editing>

    <dxo-tree-list-toolbar>
      <dxi-tree-list-item location="after">
        <dx-button
          [text]="expanded ? 'Collapse All' : 'Expand All'"
          [width]="136"
          (onClick)="toggleExpansion()"
        >
        </dx-button>
      </dxi-tree-list-item>
      <dxi-tree-list-item name="addRowButton" showText="always"></dxi-tree-list-item>
      <dxi-tree-list-item name="exportButton"></dxi-tree-list-item>
      <dxi-tree-list-item name="columnChooserButton"></dxi-tree-list-item>
      <dxi-tree-list-item name="searchPanel"></dxi-tree-list-item>
    </dxo-tree-list-toolbar>

    <dxo-tree-list-row-dragging
      [onDragChange]="onDragChange"
      [onReorder]="onReorder"
      [allowDropInsideItem]="true"
      [allowReordering]="true"
    >
    </dxo-tree-list-row-dragging>

    <dxo-tree-list-paging [enabled]="true" [pageSize]="12"> </dxo-tree-list-paging>
    <dxo-tree-list-scrolling mode="standard"></dxo-tree-list-scrolling>
  </dx-tree-list>

  @if (selectedEmployee) {
  <p id="selected-employee">
    Selected employee: {{ selectedEmployee.FullName }}
  </p>
  }
</div>
